<h3>Categorias de Carros</h3>

Categoria <%= @car_category.name %>

Diária Padrão: <%= @car_category.daily_rate %>

Seguro do Carro: <%= @car_category.car_insurance %>

Seguro para Terceiros: <%= @car_category.third_party_insurance %><br>

<%= link_to "Voltar", car_categories_path%>

